// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ctrl-events {
  h2 {
    display: flex;
  }

  table {
    border-collapse: collapse;
    padding-bottom: 1rem
  }

  tr {
    border-bottom: 1px solid black
  }

  th, td {
    text-align: center;
    padding: 2px 1rem 2px 0
  }

  td {
    form {
      display: inline
    }
  }

  td.thumbnail {
    img {
      height: 4em
    }
  }

  .controls {
    margin: 2em 0;
  }
  
  @media (max-width: 750px) {
    h2 {
      flex-direction: column;
      .item {
        width: 100%;
        text-align: left;
        margin: 0;
      }
    }
  }
}
