<h1>Find a game</h1>

<p>We'll list games based on how many folks you indicate are listed, and with capacity for everyone.</p>

<p>Select the players on the list you'd like to play with. If there are other folks in the group, add a headcount of extra.</p>

<%= render 'form', suggestion: @suggestion %>

<%= link_to 'Back', event_path(id: @suggestion.event_id) %>
